<div class="aboutcontainer">
    <div class="headercontainer">
        <h2 class="contentheader">About Us</h2>
        <mat-divider></mat-divider>
    </div>

    <div class="content">
        <p>
            Here at “Need A Light?” we provide a professional, Christmas light installation service to all of Hillsbourough and Pinellas County. Apart from Christmas
            light hanging, we also set up lawn decor, wreaths, garland and light systems per request. Anything you have seen, we can do for you. Custom requests are
            always welcome; if you have any ideas for making your house Santa’s favorite pit stop, we are the holiday decorators for you. We can hang your lights
            or use our own commercial grade lights and custom fit them to your home. We also have an inventory of lawn decor, however, you are not limited to the
            items you will see there, as we can accommodate any vision you may have.
        </p>
        <p>
            Our Christmas light service includes a guarantee of satisfaction on any of the lights we provide. If any lights go out or are damaged by natural causes, 
            such as a storm, we will repair them free of charge. This is one of many things that set us apart from other holiday decorators in the area. 
            Another reason we are one of the best holiday light installation professionals in the Tampa area, is that we weatherproof all of our electrical components, 
            including light plugs, timers and any outdoor outlets we may use. To learn more about Christmas light installation cost, check out our services page. Keep in mind, 
            these are generalized estimates. 
        </p>

        <p>
            Is a hassle free holiday season on your wishlist? If so, we’re here to make your Christmas dreams come true! We will 
            turn your house into Santa’s favorite pit stop and provide a guarantee throughout the entire season that you will never end up on a ladder this winter. 
            If you want to have the best looking house on the block but don’t want to put in 5-10 hours doing it, give us a call. If you have a specific idea in mind we 
            will make it a reality. If you need some inspiration, we have plenty of theme ideas and we can show you exactly how they will look on your house with a projected 
            image using specialized software. From over the top holly jolly cartoon house to a classy white No need for shopping around for the best price, it is in our best 
            interest to find the lowest cost for the best quality within your price range. No need for loading up your car with decorations, unloading, unboxing, detangling, 
            returning broken items, climbing up and down ladders. You can kiss those Christmas blues goodbye. One quick phone call and we handle the rest. 
        </p>

        <p>
            We are based in Tampa 
            but we service all surrounding areas including but not limited to: Lutz, Land O Lakes, Wesley Chapel, Town n’ County, Westchase, Oldsmar, Greater Carrollwood, 
            Citrus Park, Palm River-Clair Mel, St. Petersburg, Gulfport, Lealman, Gandy, Feather Sound, Seminole, Largo, Belleair, Clearwater, Safety Harbor, 
            Dunedin and Palm Harbor.
        </p>
    </div>
</div>