<div class="contactcontainer">
    <div class="headercontainer">

        <h2 class="contentheader">Contact Us</h2>
        <mat-divider></mat-divider>
        
        <div class="contacticoncontainer">
            <mat-icon>email</mat-icon>
            <p>NeedALightllc@Gmail.com</p>
        </div>

        <div class="contacticoncontainer">
            <mat-icon>phone</mat-icon>
            <p>(813) 644-9644</p>
        </div>

    </div>
    <form class="form">

        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="example@example.com">
        </mat-form-field>
      
        <mat-form-field class="full-width">
          <mat-label>Body</mat-label>
          <textarea matInput placeholder="Let us know what we can help you with."></textarea>
        </mat-form-field>

        <button class="submitbtn" mat-button>Send</button>
      </form>

</div>