<div class="contactcontainer">
    <div class="headercontainer">

        <h2 class="contentheader">Contact Us</h2>
        <mat-divider></mat-divider>
        
        <div class="contacticoncontainer">
            <mat-icon>email</mat-icon>
            <p>NeedALightllc@Gmail.com</p>
        </div>

        <div class="contacticoncontainer">
            <mat-icon>phone</mat-icon>
            <p>(813) 644-9644</p>
        </div>

    </div>
    <form [formGroup]="contactForm" class="form" #formDirective="ngForm" (ngSubmit)="onSubmit(contactForm.value, formDirective)">

        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="example@example.com" formControlName="email">
          <mat-error *ngIf="contactForm.get('email').invalid">{{getErrorMessage('email')}}</mat-error>
        </mat-form-field>
      
        <mat-form-field class="full-width">
          <mat-label>Body</mat-label>
          <textarea matInput placeholder="Let us know what we can help you with." formControlName="body"></textarea>
          <mat-error *ngIf="contactForm.get('body').invalid">{{getErrorMessage('body')}}</mat-error>
        </mat-form-field>

        <button type="submit" class="submitbtn" mat-button>Send</button>
      </form>

</div>