/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: logoFont;
    src: url(./assets/logo-font1.otf);
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Times New Roman', Times, serif; }

.font {
    font-family: 'Times New Roman', Times, serif;
}

p {
    display: inline-block;
    white-space: pre;
    /* margin: 0 !important; */
}

.clickable {
    cursor: pointer;
}

.contentheader {
    font-family: 'Times New Roman', Times, serif !important;
    font-size: 7vw !important;
}

.textshadow {
    color: white;
    text-shadow: 0 0 13px #000000, 0 0 13px #000000, 0 0 13px #000000;
}

@media only screen and (min-width: 720px) {
    .contentheader {
        font-size: 45px !important;
    }
}

