.logincontainer {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    padding-right: 10px;
}

.newblogcontainer {
    width: 800px;
    max-width: 90%;
    margin: 30px auto 20px auto;
}

.card {
    margin-bottom: 20px;
}

.buttonfooter {
    display: flex;
    justify-content: space-between;
}