<div class="gallerycontainer">
    <div class="headercontainer">
        <h2 class="contentheader">Gallery</h2>
        <mat-divider></mat-divider>
    </div>

    <div class="imgcontainer">
        <div class="img">
            <img src="../../../assets/blue_house.jpg" alt="">
        </div>
        <div class="img">
            <img src="../../../assets/door2.jpg" alt="">
        </div>
        <div class="img">
            <img src="../../../assets/white_house.jpg" alt="">
        </div>
        <div class="img">
            <img src="../../../assets/bow_house.jpg" alt="">
        </div>
        <div class="img">
            <img src="../../../assets/tree_house.jpg" alt="">
        </div>
        <div class="img">
            <img src="../../../assets/yellow_house.jpg" alt="">
        </div>
        <div class="img">
            <img src="../../../assets/door3.jpg" alt="">
        </div>
        <div class="img">
            <img src="../../../assets/inside.jpg" alt="">
        </div>
        <div class="img">
            <img src="../../../assets/door1.jpg" alt="">
        </div>
    </div>

</div>
  