

<mat-sidenav-container class="white">
    <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" fixedTopGap="mobileQuery.matches ? 0 : 64" class="example-sidenav"
                 [fixedInViewport]="true">
                <mat-nav-list class="navlinks">
                    <a class="font" mat-list-item (click)="sidenav.toggle()"><mat-icon>close</mat-icon></a>
                    <a class="font" mat-list-item (click)="navigate('pricing')">Pricing</a>
                    <a class="font" mat-list-item (click)="navigate('contact')">Contact Us</a>
                    <a class="font" mat-list-item (click)="navigate('gallery')">Gallery</a>
                    <a class="font" mat-list-item (click)="navigate('about')">About Us</a>
                    <a class="font" mat-list-item (click)="navigate('pricing')">Blog</a>
                </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>

        <app-socials></app-socials>
        
        <app-logo (loaded)="setSticky()"></app-logo>
        
        <mat-divider></mat-divider>
        
        <div #headercontainer class="headercontainer">
            <button class="navbtn" mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
            <div class="exposedbtnscontainer">
                <button class="exposedbtns font" mat-button>Pricing</button>
                <button class="exposedbtns font" mat-button>Contact</button>
                <button class="exposedbtns font" mat-button>Gallery</button>
                <button class="exposedbtns font" mat-button>About Us</button>
                <button class="exposedbtns font" mat-button>Blog</button>
            </div>
            <div class="spacer"></div>
        </div>

        <div class="content">
            <router-outlet ></router-outlet>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>


