
<div class="priceheader">
    <div class="textcontainer">
        <h2>Pricing</h2>
    </div>
</div>

<div class="pricecontainer">
    <div class="packagecontainer">
        <div class="block">
            <img class="bulb" src="../../../assets/C7bulbIcon1.jpg" alt="">
        </div>
        <h3 class="block">Small Lighting Package</h3>
        <p class="block">Ideal for homes between 1,500-2,500 sq.ft</p>
        <p class="block bold">Includes-</p>
        <p class="block">150ft of C7 Lights</p>
        <p class="block">Light Installation</p>
        <p class="block">Light Removal</p>
        <p class="block">Extension Cords</p>
        <p class="block">Automatic Timer</p>
        <p class="block">Weatherproofing</p>
        <p class="block">Warranty on Lights</p>
        <p class="block bold">$299</p>
    </div>
    <div class="packagecontainer">
        <div class="block">
            <img class="bulb" src="../../../assets/C7bulbIcon2.jpg" alt="">
        </div>
        <h3 class="block">Medium Lighting Package</h3>
        <p class="block">Ideal for homes between 2,500-3,500 sq.ft</p>
        <p class="block bold">Includes-</p>
        <p class="block">200ft of C7 Lights</p>
        <p class="block">Light Installation</p>
        <p class="block">Light Removal</p>
        <p class="block">Extension Cords</p>
        <p class="block">Automatic Timer</p>
        <p class="block">Weatherproofing</p>
        <p class="block">Warranty on Lights</p>
        <p class="block bold">$399</p>
    </div>
    <div class="packagecontainer">
        <div class="block">
            <img class="bulb" src="../../../assets/C7bulbIcon3.jpg" alt="">
        </div>
        <h3 class="block">Large Lighting Package</h3>
        <p class="block">Ideal for homes between 3,500-4,500 sq.ft</p>
        <p class="block bold">Includes-</p>
        <p class="block">250ft of LED C7 Lights</p>
        <p class="block">Light Installation</p>
        <p class="block">Light Removal</p>
        <p class="block">Extension Cords</p>
        <p class="block">Automatic Timer</p>
        <p class="block">Weatherproofing</p>
        <p class="block">Warranty on Lights</p>
        <p class="block bold">$599</p>
    </div>
</div>
